.title {
  font-size: 6.5vw;
  background: -webkit-linear-gradient(0deg, #be22ff 20%, #ff279c 50%, #ff981f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s ease-in-out infinite;
}

.header {
  height: 5vw;
  background: lightgrey;
  opacity: 60%;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
}

.notepad {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notepadInputContainer {
  width: 100%;
}

.notepadOutputContainer {
  width: 100%;
}

.futuristicTextareaLight{
  width: 100%;
  min-height: inherit;
  padding: 2vw;
  font-size: 2vw;
  background-color: #dedede;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  outline: none;
  resize: vertical;
}

.futuristicTextarea {
  width: 100%;
  min-height: 50vmax;
  padding: 2vw;
  font-size: 2vw;
  background-color: #0e0e13;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: vertical;
}

.textareaInput {
  padding-left: 35%;
}

.textareaOutputLight {
  color: blue;
  border-left: black;
  border-style: groove
}

.textareaOutput {
  color: greenyellow;
  border-left: black;
  border-style: groove
}

/* Media query for mobile devices */
@media (max-width: 768px) {

  .futuristicTextarea,
  .textareaOutput {
    font-size: 4vw;
    padding: 5vw;
    text-wrap: nowrap;
  }

  .textareaInput {
    padding-left: 8%;
  }

  .title {
    font-size: 10vw;
  }

  .notepadInputContainer,
  .notepadOutputContainer {
    padding: 10px;
  }
}