.title {
  font-size: 6.5vw;
  font-weight: bold;
  background: linear-gradient(50deg, #ff7f00, rgb(204, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s ease-in-out infinite;
}

.header{
  height: 5vw;
  background: lightgrey;
  opacity: 60%;
}


@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  text-align: center;
}

.notepad {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notepadInputContainer {
  width: 100%;
}

.notepadOutputContainer {
  width: 100%;
}

.futuristicTextarea {
  width: 100%;
  min-height: 440px;
  padding:  2vw;
  font-size: 2vw;
  font-weight: bold;
  background-color: #0e0e13;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: vertical;
}

.textareaInput {
  padding-left: 35%;
}
.textareaOutput {
  width: 80%;
  color: greenyellow;
  border-left: black;
  border-style: groove
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .futuristicTextarea,
  .textareaOutput {
    font-size: 4vw; 
    padding: 5vw; 
    text-wrap: nowrap;
  }

  .textareaInput {
    padding-left: 8%;
  }

  .title {
    font-size: 10vw;
  }
  .notepadInputContainer,
  .notepadOutputContainer {
    padding: 10px; 
  }
}
